
# Whitelist (Experimental)
# Maybe this turns to be inconveniente, but seems like a good solution to not
# adding unwanted files to the repo

/*

!.gitignore
!.xinitrc
!.bashrc
!.bash_profile
!.inputrc

!.config/
.config/*

!.config/nvim/
.config/nvim/*
!.config/nvim/init.lua

!.config/nvim/
!.config/fontconfig/
!.config/shell/
!.config/python/

!.local/
.local/*
!local/bin/
.local/bin/*
!.local/bin/dirmenu
!.local/bin/status-bar
!.local/bin/wp
!.local/bin/backlight
!.local/bin/volume
