
# Whitelist (Experimental)
# Maybe this turns to be inconveniente, but seems like a good solution to not
# adding unwanted files to the repo

/**

!.gitignore
!.xinitrc
!.bashrc
!.profile
!.inputrc

!.config/
.config/**

!alacritty.toml

!.config/nvim/
!.config/nvim/**
.config/nvim/lazy-lock.json

!.config/user-dirs.dirs

!.config/fontconfig/
!.config/fontconfig/**

!.config/shell/
!.config/shell/**

!.config/python/
!.config/python/**

!.config/dunst/
!.config/dunst/**

!.config/paru/
!.config/paru/**

!.config/autostart/
!.config/autostart/**

!.config/zsh/
!.config/zsh/**

!.config/wofi/
!.config/wofi/**

!.config/waybar/
!.config/waybar/**

!.config/river/
!.config/river/**

!.config/systemd/
!.config/systemd/**

!.local/
.local/**

!.local/bin/
.local/bin/**

!.local/bin/backlight
!.local/bin/volume

